img{
	max-width: 100%;
}

header{
	padding-top: 30px;
	background-color:#1A1A1A
}

section{
	padding-right: 45px;
	padding-left: 45px;
	border-bottom: 2px solid #AAAAAA;

}
h1{
	color:white;
	font-size: 40px;
	font-weight: bolder;
}
h2{
	margin-left: 48%;
	font-size: 40px;
	padding-left: 30%;
	color:white;
	font-weight: lighter;
}
h3{
	margin-top: 10px;
	font-size: 30px;
	margin-bottom: 20px;
}

li{
	margin-right: 10px;
	display:inline-block;

}

ul{
	text-decoration: none;
	margin-left: 20%;
	margin-top: 20px;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color: #E23C3C;
}

