img{
	max-width: 100%;
}

h1{
	font-weight: bolder;
	font-size: 30px;
	color: black;
}

li{
	display: inline-block;
	font-size: 17px;
	margin-right: 15px;
	margin-top: 20px;

}
ul{
	text-decoration: none;
	text-align: right;
	left: 60%;
}
a{
	text-decoration:none;
}